* {
  box-sizing: border-box;
}
body {
  padding: 0;
  /* background: #e9effc; */
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  /* background-color: hsl(0, 0%, 20%); */
  text-align: center;
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #031d3c;
  color: #fff;

  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 30px;
  margin-bottom: 0px;
}
h3 {
  margin-top: 0px;

  margin-bottom: 25px;
  font-size: 32px;
  color: #fff;
  opacity: 0.78;
  display: block;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
}

p {
  opacity: 0.9;
  transform: matrix(1, 0, 0, 1, 0, 0);
  color: #031d3c;
  color: #fff;

  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#btn {
  cursor: pointer;
  margin: 0 auto;
  background-color: #0298fa;
  background-color: rgba(58, 74, 222, 1);
  /* background-color: rgba(42, 52, 145, 1); */
  color: #fff;
  border: none;
  opacity: 1;
  outline: 0;
  border-radius: 4px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  -webkit-box-shadow: 0px 22px 59px -15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 22px 59px -15px rgba(0, 0, 0, 0.4);
  /* background-color: #eb4343; */
  cursor: pointer;
  margin: 30px auto;
  border-radius: 50px;
  padding: 12px 34px;
  font-size: 18px;
  line-height: 30px;
  width: 200px;
  /* display: inline-block; */
  text-align: center;
  /* white-space: nowrap; */
  /* vertical-align: middle; */
  transition: all 0.2s ease-out;
}

#btn:hover {
  transform: translateY(-3px);
  transition: all 0.4s ease-out;
  /* -webkit-box-shadow: 0px 22px 59px -15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 22px 38px rgba(235, 67, 67, 0.2); */
  -webkit-box-shadow: 0px 22px 59px -15px rgba(58, 74, 222, 0.4);
  box-shadow: 0px 22px 38px rgba(58, 74, 222, 0.4);
}

#btn:active {
  transform: translateY(-1px);
  transition: all 0.4s ease-out;
  -webkit-box-shadow: 0px 22px 59px -15px rgba(58, 74, 222, 0.5);
  box-shadow: 0px 22px 38px rgba(58, 74, 222, 0.5);
}
.img-align {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.img-holder {
  margin: 0 auto;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  margin-top: 20px;
  /* width: 80%; */
  width: 70vw;
  height: 70vw;
  max-width: 512px;
  max-height: 512px;
  /* height: 0; */
  /* padding-top: 100%; */
  display: inline-block;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 2px 22px 43px rgba(4, 4, 7, 0.45);
  -moz-box-shadow: 2px 22px 43px rgba(171, 171, 180, 0.45);
  -webkit-box-shadow: 2px 22px 43px rgba(171, 171, 180, 0.45);
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.bg {
  width: 100%;
  /* height: 60vh; */
  height: 60vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.bg > div {
  width: 100%;
  height: 100%;
  /* opacity: 0.9; */
  background: rgb(255, 123, 79);

  /* background: linear-gradient(
    90deg,
    rgba(255, 123, 79, 1) 0%,
    rgba(255, 116, 87, 1) 36%,
    rgba(255, 92, 115, 1) 100%
  ); */
  background: linear-gradient(
    90deg,
    rgba(8, 15, 72, 1) 0%,
    /* rgba(42, 52, 145, 0.8) 36%, */ rgba(58, 74, 222, 0.84) 36%,
    rgba(8, 15, 72, 1) 100%
  );
  /* z-index: -1; */
  /* background: black; */
}

.lm {
  display: block;
  color: rgba(42, 52, 145, 1);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
